NET "CLK_50_MHZ" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "CLK_50_MHZ" PERIOD = 20.0ns HIGH 40%;
NET "RST"  LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "IRQ"  LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "LED<7>" LOC = "A8" | IOSTANDARD = LVTTL | SLEW  = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = "G9" | IOSTANDARD = LVTTL | SLEW  = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = "A7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = "D13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = "E6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = "D6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = "C3" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = "D4" | IOSTANDARD = SSTL2_I ;

NET "RS232_DTE_RXD" LOC = "U8" | IOSTANDARD = LVTTL ;
NET "RS232_DTE_TXD" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;

#LCD
NET "LCD_E"  LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RS" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RW" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

NET "LCD_D<0>" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_D<1>" LOC = "P6" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_D<2>" LOC = "R8" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_D<3>" LOC = "T8" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

NET "ROT_A"      LOC = "K18" | IOSTANDARD = LVTTL | PULLUP ;
NET "ROT_B"      LOC = "G18" | IOSTANDARD = LVTTL | PULLUP ;
NET "ROT_CENTER" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "VGA_RED"   LOC = "H14" | IOSTANDARD = LVTTL |  SLEW = SLOW | DRIVE = 8 ;
NET "VGA_GREEN" LOC = "H15" | IOSTANDARD = LVTTL |  SLEW = SLOW | DRIVE = 8 ;
NET "VGA_BLUE"  LOC = "G15" | IOSTANDARD = LVTTL |  SLEW = SLOW | DRIVE = 8 ;
NET "VGA_HSYNC" LOC = "F15" | IOSTANDARD = LVTTL |  SLEW = SLOW | DRIVE = 8 ;
NET "VGA_VSYNC" LOC = "F14" | IOSTANDARD = LVTTL |  SLEW = SLOW | DRIVE = 8 ;

# Prohibit VREF pins
CONFIG PROHIBIT = D2;
CONFIG PROHIBIT = G4;
CONFIG PROHIBIT = J6;
CONFIG PROHIBIT = L5;
CONFIG PROHIBIT = R4;
